doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    title Title
    link(href="/common.scss" type="text/css" rel="stylesheet")
  body.layout
    block content

    script(src="/common.js" type="text/javascript")

